* {
   margin: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   background-color: white;
}

header {
   background-color: #4e7f4e;
   padding: 10px 0;
}

nav ul {
   list-style: none;
   display: flex;
   justify-content: center;
}

nav li a {
   text-decoration: none;
   color: white;
   padding: 10px;
}

h1 {
   font-size: 24;
   text-align: center;
   display: flex;
}

@media(max-width:600px) {
   body {
      background-color: white;
   }
}

/* this css is for index.html */
.topbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
 }
.content {
  flex: 1;
  padding: 20px;
  padding-bottom: 80px;
  text-align: center;
}
.login-form {
   background-color: #fff;
   border-radius: 5px;
   padding: 20px;
   margin: 20px auto;
   width: 300px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.login-form input {
   width: 100%;
   padding: 10px;
   margin: 12px 0;
   border: 1px solid #ddd;
   border-radius: 5px;
}